.main-menu {
   position: fixed;
   top: $header-height;
   background-color: $dark-color;
   margin: 0;
   padding: 1rem;
   width: 80vw;
   height: calc(100vh - #{$header-height});
   right: -80vw;
   transition: all 0.5s;
   &__item {
      padding: 1rem;
   }
   &__link {
      color: white;
      @media screen and (min-width: 600px) {
         margin-left: 1rem;
         color: $text-color;
      }
   }
   &__toggle {
      font-size: 20px;
      cursor: pointer;
      border-radius: 5px;
      display: block;
      &:hover {
         font-size: 24px;
      }
      @media screen and (min-width: 600px) {
         display: none;
      }
   }
   @media screen and (min-width: 600px) {
      position: static;
      display: flex;
      width: 100%;
      height: auto;
      background-color: transparent;
      transition: none;
      padding: 0;
   }
}
.show {
   right: 0;
}
