.main-menu {
   position: fixed;
   top: $header-height;
   background-color: $dark-color;
   margin: 0;
   padding: 1rem;
   width: 70vw;
   height: calc(100vh - #{$header-height});
   right: -70vw;
   transition: right 0.5s;
   z-index: $z-fixed;

   &__item {
      padding: 1rem;
   }
   &__link {
      color: $border-color;
      @include from(l) {
         margin-left: 1rem;
         color: $text-color;
      }
   }
   &__toggle {
      color: $dark-color;
      font-size: 24px;
      cursor: pointer;
      border-radius: 5px;
      display: block;
      &:hover {
         font-size: 28px;
      }
      @include from(l) {
         display: none;
      }
   }
   &.show {
      right: 0;
   }
   @include from(l) {
      position: static;
      display: flex;
      width: auto;
      height: auto;
      background-color: transparent;
      padding: 0;
   }
}
