$max-width: 1200px;
$header-height: 4rem;
$border-color: #ccc;
$text-color: #53575a;
$dark-color: #141618;

$breakpoints: (
   s: 480px,
   l: 960px,
);

// paleta de colores
$first-color: #007bdf;

// variables de apilamiento
$z-back: -10;
$z-normal: 0;
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

// variables de tipografia
:root {
   --h1-font-size: 1.7rem;
   --body-font-size: 0.8rem;
   --small-font-size: 0.7rem;
   @include from(s) {
      --h1-font-size: 2rem;
      --body-font-size: 0.9rem;
      --small-font-size: 0.75rem;
   }
   @include from(l) {
      --h1-font-size: 2.5rem;
      --body-font-size: 1rem;
      --small-font-size: 0.8rem;
   }
}
